In [2]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import os
import re

In [9]:
df = pd.read_csv('~/Downloads/test_data.csv')

#df['external_id'] = df['external_id'].astype(str)   
#df['old_id'] = df['old_id'].astype(str)      
#df['old_id'] = df['old_id'].str.replace('.0', '')

df.head()

,external_id,old_id,claim,description
0,2664107,2880812.0,Claim ID: 2880812,**Claim #:** 2880812\n\n**Notes:** \n\nTransfe...
1,3734377,2880870.0,Claim ID: 2880870,**Claim #:** 2880870\n\n**Notes:** \n\nTransfe...
2,4501,NaN,Claim Details,**Claim #:** 2617229\n\n**Notes:** \n\n**Servi...
3,17874,2880786.0,Claim ID: 2880786,**Claim #:** 2880786\n\n**Notes:** \n\nTransfe...
4,2960612,2880838.0,EMERGENCY: Claim ID: 2880838,**Claim #:** 2880838\n\n**Notes:** \n\nTransfe...

In [10]:
df.old_id = df.old_id.fillna(0).astype('int')

list_old = list(map(str, df.old_id.tolist()))
list_new = list(map(str, df.external_id.tolist()))

df['new_claim'] = df.claim.replace(to_replace=['Claim ID: ' + e for e in list_old], value=['Claim ID: ' + e for e in list_new], regex=True)
df['new_description'] = df.description.replace(to_replace=['\* ' + e + '\\n' for e in list_old], value=['* ' + e + '\\n' for e in list_new], regex=True)

In [8]:
df.head()

,external_id,old_id,claim,description,new_claim,new_description
0,2664107,2880812,Claim ID: 2880812,**Claim #:** 2880812\n\n**Notes:** \n\nTransfe...,Claim ID: 2664107,**Claim #:** 2664107\n\n**Notes:** \n\nTransfe...
1,3734377,2880870,Claim ID: 2880870,**Claim #:** 2880870\n\n**Notes:** \n\nTransfe...,Claim ID: 3734377,**Claim #:** 3734377\n\n**Notes:** \n\nTransfe...
2,4501,0,Claim Details,**Claim #:** 2617229\n\n**Notes:** \n\n**Servi...,Claim Details,**Claim #:** 2617229\n\n**Notes:** \n\n**Servi...
3,17874,2880786,Claim ID: 2880786,**Claim #:** 2880786\n\n**Notes:** \n\nTransfe...,Claim ID: 17874,**Claim #:** 17874\n\n**Notes:** \n\nTransfer ...
4,2960612,2880838,EMERGENCY: Claim ID: 2880838,**Claim #:** 2880838\n\n**Notes:** \n\nTransfe...,EMERGENCY: Claim ID: 2960612,**Claim #:** 2960612\n\n**Notes:** \n\nTransfe...